@font-face {
    font-family: base;
    src: url(../../fonts/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: poppins;
    src: url(../../fonts/Poppins//Poppins-Regular.ttf);
}